@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Source+Sans+Pro:wght@400;600&display=swap');

:root {
  --main-bg-color: #252525; 
  --extra-bg-color: #FFFFFF;
  --main-radius: 20px;

  --main-text-color: #252525;
  --title-text-color: #F05A3B;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: none;
}

.wrapper {
  font-family: -apple-system, sistem-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: var(--title-text-color, gray);
  padding: 20px;
  display: grid;
  grid-template-columns: 17% 1fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "aside main"
    "footer footer";
  row-gap: 10px;
  column-gap: 1%;
  
}


h2, h3, h4, h5, h6 {
  color: var(--main-text-color);
}

.slick-prev:before, .slick-next:before {
  color: black;
}


p, h1 {
  color: var(--title-text-color);
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 20px;
}  

.item{
  padding: 10px;
/*  border: 1px solid black;*/
  border-radius: var(--main-radius);
  row-gap: 10px;
  column-gap: 1%;
}


.right_menu {
  position: absolute;
  background-color: #ffffff;
  display: grid;
  z-index: 3;
  width: 800px;
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 0px;
  overflow: hidden;
  /* transform: translateX(100%); */
  transition: opacity 0.1s ease-in-out;

}

.overlay {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;

}

.OverlayVisible {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  position: absolute;
  visibility: visible;
  /* overflow: hidden; */
  opacity: 1;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}

.favorites {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.right_menu_item {
  display: grid;
  justify-content: center;
  /* grid-template-rows: 50px 50px 800px 50px 50px 100px; */
  height: 100%;
}

/* .right_menu_item>img {
  height: 30px;
} */

.cross_img {
  display: grid;
  justify-items: right;
  align-items: center;
  
}

.cross_img>img {
  height: 30px;
  /* margin: auto; */
  cursor: pointer;
}

.right_menu_item>h2 {
  display: grid;
  justify-items: start !important;
}

header {
  display: grid;
  grid-area: header;
  grid-template-columns: 20% 1fr;


  background: var(--extra-bg-color);
  border-radius: var(--main-radius);
}

.hat_item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: start;
  padding-left: 15%;
  column-gap: 5%;
}

.sidebar {
  display: grid;
  justify-items: end;
  align-items: center;
  padding-right: 5%;
  grid-template-columns: 1fr 1fr;
}

.sidebar>a {
  grid-column: 2/3;
  display: grid;
}

.sidebar>svg:nth-child(2) {
  grid-column: 2/3;
  display: grid;
}

.sidebar_item {
  cursor: pointer;
}

nav{
  display: grid;
  grid-area: nav;

  background: var(--extra-bg-color);
  border-radius: var(--main-radius);
}

.nav_item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

aside {
  display: grid;
  grid-area: aside;
  justify-content: center;
  align-content: center;

  background: var(--extra-bg-color);
  border-radius: var(--main-radius);
}

.aside_item {
  grid-template-columns: 10% 90%;
  justify-items: start;
  align-items: center;
  display: grid;
  column-gap: 10%;
}

.single-item {
	display: grid;
}

.love {
  color: red;
}

.playlist {
  color: blueviolet;
}

.srtting {
  color: gray;
}

main {
  display: grid;

  background: var(--extra-bg-color);
  border-radius: var(--main-radius);

}

section{
  display: grid;
  /*grid-template-rows: 1fr 1fr 1fr;*/
  align-content: center;

  background: var(--extra-bg-color);
  
  border-radius: var(--main-radius);

}

article {
  display: grid;

  background: var(--extra-bg-color);
  border-radius: var(--main-radius);
}

/* .article_item1 {
  display: grid;
  border: 1px solid black;
  max-width: 300px;
  align-items: center;
  justify-items: center;
} */

input:focus {
  outline: none;
}

.search {
  box-shadow: 0px 30px 20px 0px #0000000A;
  display: grid;
  align-items: center;
  grid-template-columns: 20% 60% 20%;
  width: 200px;
  padding: 10px;
  height: 50px;
  border-radius: var(--main-radius);
}

.search>svg {
  display: grid;
  align-items: center;
  transform:translate(50%,0%);
}

.card_small {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-rows: 1fr 1fr;
  height: 250px;
  width: 700px;
  box-shadow: 0px 30px 20px 0px #0000000A;
  
}




.card_small>img {
  display: grid;
  grid-row: 1/3;

}

.card_small>h2 {
  display: grid;
  justify-items: start;
  align-items: end;
  margin-left: 10%;
}

.card_small>h1 {
  display: grid;
  justify-items: start !important;
  align-items: start !important;
  grid-column: -3/-2;
  padding-top: 10%;
  font-size: 25px;
  margin-left: 10%;
}

.card_small>div {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-row: 1/3;
  grid-column: 3/4;
}

.card_small>div>img {
  cursor: pointer;
}

.card_small>img:nth-child(4) {
  display: grid;
  align-items: center;
  justify-items: center;

}

.right_menu_item_empty {
  display: grid;
  justify-items: center;
 
}

.right_menu_item_empty>p {
  margin: 2% 0  5% 0;
  text-align: center;
}

.right_menu_item_empty>h2 {
  margin-top: 3%;
  text-align: center;
}

.right_menu_item_empty>button {
  display: grid;
  grid-template-columns: 10% 10% 70% 10%;
  align-items: center;
  background-color: #9DD458;
  border-radius: var(--main-radius);
  height: 70px;
  width: 300px;
  cursor: pointer;
}

.right_menu_item_empty>button>h2 {
  display: grid;
  grid-column: 3/4;
  color: #ffffff;
  /* justify-items: start !important; */
}

.right_menu_item_empty>button>svg {
  display: grid;
  grid-column: 2/3;
  color: #ffffff;
  /* justify-items: start !important; */
}

.botton_offer {
  border-radius: var(--main-radius);
  background-color: var(--title-text-color);
  cursor: pointer;
}



footer {
  display: grid;
  grid-area: footer;

  background: var(--extra-bg-color);
  border-radius: var(--main-radius);
}

.card_items {
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.card {
  width: 70%;
  border-radius: 50px;
  position: relative;
}

.card h2 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 60px;
  text-transform: uppercase;
}

.card .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
  grid-gap: 30px;
}

.card .row .col {
  position: relative;
  width: 100%;
  margin: 30px 20px 40px 0;
  transition: 0.5s;
}

.card .row .form-group {
  position: relative;
  width: 100%;
  height: 40px;
  color: #ffffff;
}

.card .row .form-group input,
.card .row .form-group textarea {
  position: absolute;
  width: 90%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 24px;
  padding: 10px 0 10px 20px;
  border: 3px solid #252525;
  
  color: var(--main-text-color);
  border-radius: 50px;
}

.card .row .form-group label {
  line-height: 40px;
  color: var(--main-text-color);
  font-size: 24px;
  margin: 0 0 0 30px;
  display: block;
  pointer-events: none;
}

.row .col:nth-child(6) {
  margin-top: 64px;
}

.card .row .form-group input:focus,
.card .row .form-group textarea:focus {
  border: 5px solid #F05A3B;
  transition: all 0.5s;
}

.card .row input[type="submit"] {
  border: 3px solid #252525;
  padding: 10px;
  height: 100%;
  width: 50%;
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color: var(--title-text-color);
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 45px;
  transition: all 0.4s;
}

.card .row input[type="submit"]:hover {
  border: 5px solid #F05A3B;
  color: var(--title-text-color);
  transition: all 0.4s;
}



@media screen and (max-width: 900px) {
  .card .row {
    grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
  }
  
  .card {
    padding: 20px;
  }
  
  .card h2 {
    font-size: 34px;
  }
  
  .card .row input[type="submit"] {
    width: 100%;
  }

  body {
    grid-template-columns: 30% 1fr !important;
  }
}


@media screen and (max-width: 1200px) {

  body {
    grid-template-columns: 25% 1fr !important;
  }
}


