@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Source+Sans+Pro:wght@400;600&display=swap');

:root {
  --main-bg-color: #252525; 
  --extra-bg-color: #FFFFFF;
  --main-radius: 20px;

  --main-text-color: #252525;
  --title-text-color: #F05A3B;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: none;
}

.wrapper {
  font-family: -apple-system, sistem-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--title-text-color, gray);
  padding: 20px;
  min-width: 900px;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-areas:
    "header header"

    "aside main"
    "footer footer";
  row-gap: 10px;
  column-gap: 1%;
  
  
}


h2, h3, h4, h5, h6 {
  color: var(--main-text-color);
}

.slick-prev:before, .slick-next:before {
  color: black;
}


p, h1 {
  color: var(--title-text-color);
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

h3 {
  font-size: 20px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 20px;
}  

.item{
  padding: 10px;
/*  border: 1px solid black;*/
  border-radius: var(--main-radius);
  row-gap: 10px;
  column-gap: 1%;
}


.right_menu {
  position: absolute;
  background-color: #ffffff;
  display: grid;
  z-index: 3;
  grid-template-rows: 1fr;
  /* width: 800px;
  height: 100%; */
  right: 0;
  top: 0;
  align-items: normal;
  bottom: 0;
  /* bottom: 0; */
  border-radius: 0px;
  overflow: hidden;
  /* transform: translateX(100%); */
  transition: opacity 0.1s ease-in-out;

}

.overlay {
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;

}

.OverlayVisible {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  position: absolute;
  visibility: visible;
  /* overflow: hidden; */
  min-width: 450px;
  /* height: calc(500px + 70vh); */
  transform: translate(0,0);
  /* height: calc(100vh + 30%); */
  right: 0;
  opacity: 1;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}

.favorites {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.right_menu_item {
  display: grid;
  justify-content: center;
  
  grid-template-columns: 1fr;

  grid-template-rows: 10% 70% 5% 5% 10%;


  /* grid-template-rows: 50px 50px 800px 50px 50px 100px; */
}

.right_menu_item>h3 {
  padding: 0 4% 0 4%;
}

.right_menu_item>h2:nth-child(3) {
  padding: 0 4% 0 4%;
  color: var(--title-text-color);
  font-size: 30px;
}


.cross_img {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  grid-template-columns: 20% 65% 15%;
  /* padding: 4% 4% 0 4%; */
  
}

.cross_img>h2 {
  display: grid;
  grid-row: 1/1;
  
}

.cross_img>img {
  height: 50px;
  /* margin: auto; */
  cursor: pointer;
  grid-column: 3/4;
}

.right_menu_item>h2 {
  display: grid;
  justify-items: start !important;
}

header {
  display: grid;
  grid-area: header;
  grid-template-columns: 20% 1fr;
  align-items: center;


  background: var(--extra-bg-color);
  border-radius: var(--main-radius);
}

.hat_item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: start;
  padding-left: 15%;
  column-gap: 5%;
}

.sidebar {
  display: grid;
  padding: 2% 5% 2% 0;
  grid-template-columns: 60% 30% 10%;
  justify-items: center;
  grid-template-rows: 1fr;
  align-items: center;
}

.sidebar>a {
  /* grid-column: 3/4; */
  display: grid;
}

.sidebar>svg {
  grid-column: 3/4;
  display: grid;
  align-items: center;
  justify-items: center;
}

/* .sidebar>svg:nth-child(2) {
  grid-column: 3/4;
  grid-row: 3/4;
  display: grid;
  display: none;
} */



.sidebar_item {
  cursor: pointer;
  /* grid-column: 3/4;
  grid-row: 3/4; */
}

.sidebar>h1 {
  grid-column: 2/3;
  /* grid-row: 2/3; */
  justify-items: center;
  align-items: center;
}

/* nav{
  display: grid;
  grid-area: nav;

  background: var(--extra-bg-color);
  border-radius: var(--main-radius);
} */

.nav_item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

aside {
  display: grid;
  grid-area: aside;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr;

  background: var(--extra-bg-color);
  border-radius: var(--main-radius);
}

.aside_item {
  grid-template-columns: 20% 80%;
  justify-items: start;
  align-items: center;
  display: grid;
  column-gap: 5%;
  min-width: 230px;
}

.single-item {
	display: grid;
}

.love {
  color: red;
}

.playlist {
  color: blueviolet;
}

.srtting {
  color: gray;
}

main {
  display: grid;

  background: var(--extra-bg-color);
  border-radius: var(--main-radius);

}

section{
  display: grid;
  /*grid-template-rows: 1fr 1fr 1fr;*/
  align-content: center;

  background: var(--extra-bg-color);
  
  border-radius: var(--main-radius);

}

article {
  display: grid;
  background: var(--extra-bg-color);
  border-radius: var(--main-radius);
}

input:focus {
  outline: none;
}

input {
  font-size: 20px;
}

.search {
  box-shadow: 0px 30px 20px 0px #0000000A;
  display: grid;
  align-items: center;
  grid-template-columns: 25% 60% 15%;
  width: 300px;
  font-size: 30px;
  padding: 10px;
  height: 70px;
  border-radius: var(--main-radius);
}

.search>svg {
  display: grid;
  align-items: center;
  transform:translate(50%,0%);
}

.card_small {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  grid-template-rows: 1fr 1fr;
  height: 230px;
  width: 100%;
  box-shadow: 0px 30px 20px 0px #0000000A;
  
  
}

.all_goods {
  min-height: 300px;
  max-height: 1400px;
  overflow-y: scroll;
}


.all_aside_item {
  justify-items: center;
}

.card_small>img {
  display: grid;
  grid-row: 1/3;

}

.card_small>h2 {
  display: grid;
  justify-items: start;
  align-items: end;
  margin-left: 10%;
}

.card_small>h1 {
  display: grid;
  justify-items: start !important;
  align-items: start !important;
  grid-column: -3/-2;
  padding-top: 10%;
  font-size: 25px;
  margin-left: 10%;
}

.card_small>div {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-row: 1/3;
  grid-column: 3/4;
}

.card_small>div>img {
  cursor: pointer;
}

.card_small>img:nth-child(4) {
  display: grid;
  align-items: center;
  justify-items: center;

}

.right_menu_item_empty {
  display: grid;
  justify-items: center;
  /* height: 300px; */
  grid-template-rows: 50% 10% 10% 10%;
  align-items: end;
  /* height: 100vh; */
  /* transform: translate(0%, 70%); */
 
}

.right_menu_item_empty>img {
  display: grid;
  align-items: end;
 
}

.right_menu_item_empty>p {
  margin: 2% 0  5% 0;
  text-align: center;
  padding: 0 20% 0 20%;
}

.right_menu_item_empty>h2 {
  margin-top: 3%;
  text-align: center;
}

.right_menu_item_empty>button {
  display: grid;
  grid-template-columns: 10% 10% 70% 10%;
  align-items: center;
  background-color: #9DD458;
  border-radius: var(--main-radius);
  height: 70px;
  width: 300px;
  cursor: pointer;
}

.right_menu_item_empty>button>h2 {
  display: grid;
  grid-column: 3/4;
  color: #ffffff;
  /* justify-items: start !important; */
}

.right_menu_item_empty>button>svg {
  display: grid;
  grid-column: 2/3;
  color: #ffffff;
  /* justify-items: start !important; */
}

.botton_offer {
  border-radius: var(--main-radius);
  background-color: var(--title-text-color);
  cursor: pointer;
}

.botton_offer>h2 {
  color: var(--extra-bg-color);
}



footer {
  display: grid;
  grid-area: footer;

  background: var(--extra-bg-color);
  border-radius: var(--main-radius);
}

.card_items {
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.card {
  width: 70%;
  border-radius: 50px;
  position: relative;
}

.card h2 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 60px;
  text-transform: uppercase;
}

.card .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
  grid-gap: 30px;
}

.card .row .col {
  position: relative;
  width: 100%;
  margin: 30px 20px 40px 0;
  transition: 0.5s;
}

.card .row .form-group {
  position: relative;
  width: 100%;
  height: 40px;
  color: #ffffff;
}

.botton_offer {
  min-height: 60px;
}

body {
  overflow-x: hidden;
}

@media screen and (max-width: 1600px) {

  .right_menu_item_empty {
    display: grid;
    justify-items: center;
    /* height: 300px; */
    grid-template-rows: 50% 5% 10% 5%;
    align-items: end;
    /* height: 100vh; */
    /* transform: translate(0%, 70%); */
   
  }

  .all_goods {
    min-height: 300px;
    max-height: 650px;
    overflow-y: scroll;
  }

  .botton_offer {
    min-height: 20px;
  }


  /* .card .row {
    grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
  }
  
  .card {
    padding: 20px;
  }
  
  .card h2 {
    font-size: 34px;
  } */




  .aside_item {
    grid-template-columns: 20% 80%;
    justify-items: start;
    align-items: center;
    display: grid;
    column-gap: 5%;
    min-width: 240px;
  }

  .OverlayVisible {
    min-width: 450px;
    /* height: calc(500px + 70vh); */
    transform: translate(0,0);
    /* height: calc(100vh + 30%); */
    right: 0;
  }

  .right_menu {
    align-items: normal;
    bottom: 0;

  }

  .cross_img {
    padding: 10px;
    grid-template-columns: 25% 60% 13%;
  }


  .right_menu_item {
    grid-template-rows: 10% 70% 5% 5% 10%;
  }

  /* body {
    overflow-y: scroll !important;
  } */
}

@media screen and (max-width: 1350px) {

  
  .all_goods {
    min-height: 500px;
    max-height: 1200px;
    overflow-y: scroll;
  }

  .botton_offer {
    min-height: 20px;
  }

  .all_aside_item {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  /* .card .row {
    grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
  }
  
  .card {
    padding: 20px;
  }
  
  .card h2 {
    font-size: 34px;
  } */

  .wrapper {
    grid-template-columns: 25% 1fr;
    padding: 5px;
    grid-template-areas:
    "header header"
  
    "aside main"
    "footer footer";
    min-width: 450px;

  }

  .right_menu_item_empty {
    display: grid;
    justify-items: center;
    /* height: 300px; */
    grid-template-rows: 50% 5% 15% 10%;
    align-items: end;
    /* height: 100vh; */
    /* transform: translate(0%, 70%); */
   
  }

  .card_items {
    grid-template-columns: 1fr 1fr;
  }

  .hat_item>h1 {
    display: none;
  }

  .sidebar {
    grid-template-columns: 15% 70% 15%;
  }

  .aside_item {
    grid-template-columns: 20% 60%;
    justify-items: start;
    align-items: center;
    display: grid;
    column-gap: 5%;
    min-width: 220px;
  }

  .OverlayVisible {
    min-width: 450px;
    /* height: calc(500px + 70vh); */
    transform: translate(0,0);
    /* height: calc(100vh + 30%); */
    right: 0;
  }

  .right_menu {
    align-items: normal;
    bottom: 0;

  }

  .cross_img {
    padding: 10px;
    grid-template-columns: 25% 60% 13%;
  }

  .right_menu_item {
    grid-template-rows: 10% 70% 5% 5% 10%;
  }

  /* body {
    overflow-y: scroll !important;
  } */
}

@media screen and (max-width: 900px) {

  .all_goods {
    min-height: 300px;
    max-height: 600px;
    overflow-y: scroll;
  }

  .botton_offer {
    min-height: 20px;
  }

  .all_aside_item {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  /* .card .row {
    grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
  }
  
  .card {
    padding: 20px;
  }
  
  .card h2 {
    font-size: 34px;
  } */

  .wrapper {
    grid-template-columns: 1fr;
    padding: 5px;
    grid-template-areas:
    "header header"
    "aside aside"
    "main main"
    "footer footer";
    min-width: 450px;

  }

  .card_items {
    grid-template-columns: 1fr;
  }

  .hat_item>h1 {
    display: none;
  }

  .sidebar {
    grid-template-columns: 15% 70% 15%;
  }



  .OverlayVisible {
    min-width: 450px;
    /* height: calc(500px + 70vh); */
    transform: translate(0,0);
    /* height: calc(100vh + 30%); */
    right: 0;
    height: 100%;
  }

  .right_menu {
    /* min-height: 110%; */
    align-items: normal;
    bottom: 0;

  }

  .cross_img {
    padding: 10px;
    grid-template-columns: 25% 60% 13%;
  }


  .right_menu_item {
    grid-template-rows: 10% 70% 5% 5% 10%;
  }

  .card_small>img {
    width: 120%;
    grid-row: 1/3;
  }

  .card_small>h1 {
    padding: 0;
  }

  .card_small {
    height: 150px;
    width: 100%;
    align-items: center;
    grid-template-columns: 20% 60% 20%;
  }

}

@media screen and (max-width: 400px) {

  .OverlayVisible {
    min-width: 450px;
    /* height: calc(100vh + 135px);
    right: 0;
    height: 115%; */
  }

  .right_menu {
    min-height: 800px;
  }

  .right_menu_item_empty {
    min-width: 450px;
    height: calc(100vh + 135px);
  }

    .right_menu_item_empty {
    display: grid;
    justify-items: center;
    /* height: 300px; */
    grid-template-rows: 50% 10% 15% 10%;
    align-items: end;
    /* height: 100vh; */
    /* transform: translate(0%, 70%); */
   
  }

  .card_small>img {
    width: 120%;
    grid-row: 1/3;
  }

  .card_small>h1 {
    padding: 0;
  }

  .card_small {
    height: 150px;
    width: 100%;
    align-items: center;
    grid-template-columns: 20% 60% 20%;
  }

}



